:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: var(--White);
    background-color: var(--Off-Black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    flex-direction: column;
    margin: 15px;
}

.container {
    background-color: var(--Dark-Grey);
    padding: 20px;
    border-radius: 3%;
    text-align: center;
    max-width: 400px;
    margin-bottom: 10px;
}

.header img{
    width: 110px;
    border-radius: 50%;
}

.header h1{
    padding-bottom: 5px;
    padding-top: 20px;
    font-weight: 400;
}

.header .location {
    color: var(--Green);
    padding-bottom: 20px;
    font-weight: 700;
}

.header .bio {
    padding-bottom: 20px;
    font-weight: 400;
}

.links {
    text-decoration: none;
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
    background-color: var(--Grey);
    height: 40px;
    border-radius: 8px;
    font-weight: 700;
}

.links:hover{
    background-color: var(--Green);
    color: var(--Off-Black);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
        color: hsl(228, 45%, 44%); 
    }
